<h1>Eventos</h1>
<hr>
<div class="row align-items-center mb-2">
  <label class="col-auto col-form-label">Filtro:</label>

  <div class="col-3">
    <input
      type="text"
      class="form-control"
      placeholder="buscar"
      [(ngModel)]="filtroLista">
  </div>
</div>


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-primary" (click)="alterarImagem()">
          {{ !exibirImagem ? 'exibir' : 'ocultar' }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <div
          [collapse]="!exibirImagem"
          [isAnimated]="true">

          <img
            [src]="'assets/' + evento.imagemURL"
            alt="Evento"
            [style.width.px]="widthImg"
            [style.margin.px]="marginImg">
        </div>
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">
          Editar
        </button>

        <button type="button" class="btn btn-danger btn-sm">
          Excluir
        </button>
      </td>

    </tr>
  </tbody>

  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
