<div class="card rounded shadow-sm p-4">
  <form [formGroup]="form">


    <div class="row mb-3">
      <div class="col-12">
        <label class="form-label">Tema</label>
        <input
          type="text"
          class="form-control"
          formControlName="tema"
          placeholder="Insira o Tema"
          [ngClass]="{ 'is-invalid': f.tema?.invalid && f.tema?.touched }"
        />

        <div *ngIf="f.tema?.hasError('required') && f.tema?.touched" class="invalid-feedback">
          Tema é obrigatório!
        </div>

        <div *ngIf="f.tema?.hasError('minlength') && f.tema?.touched" class="invalid-feedback">
          Tema deve ter no mínimo 4 caracteres.
        </div>

        <div *ngIf="f.tema?.hasError('maxlength') && f.tema?.touched" class="invalid-feedback">
          Tema deve ter no máximo 50 caracteres.
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-8">
        <label class="form-label">Local</label>
        <input
          type="text"
          class="form-control"
          formControlName="local"
          placeholder="Insira o Local"
          [ngClass]="{ 'is-invalid': f.local?.invalid && f.local?.touched }"
        />
        <div *ngIf="f.local?.hasError('required') && f.local?.touched" class="invalid-feedback">
          Local é obrigatório!
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Data e Hora</label>
        <input
          type="text"
          class="form-control"
          formControlName="dataEvento"
          placeholder="Selecione a data"
          #picker
        />


        </div>
        <div *ngIf="f.dataEvento?.hasError('required') && f.dataEvento?.touched" class="invalid-feedback">
          Data é obrigatória!
        </div>
      </div>

    <div class="row mb-4">
      <div class="col-md-8">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="email@exemplo.com"
          [ngClass]="{ 'is-invalid': f.email?.invalid && f.email?.touched }"
        />
        <div *ngIf="f.email?.hasError('required') && f.email?.touched" class="invalid-feedback">
          Email é obrigatório!
        </div>
        <div *ngIf="f.email?.hasError('email') && f.email?.touched" class="invalid-feedback">
          Email inválido!
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Telefone</label>
        <input
          type="text"
          class="form-control"
          formControlName="telefone"
          placeholder="(00) 90000-0000"
          [ngClass]="{ 'is-invalid': f.telefone?.invalid && f.telefone?.touched }"
        />
        <div *ngIf="f.telefone?.hasError('required') && f.telefone?.touched" class="invalid-feedback">
          Telefone é obrigatório!
        </div>
      </div>
    </div>

    <div class="row mb-4">
    <div class="col-md-2">
    <label class="form-label">Qtd Pessoas</label>

    <input
      type="number"
      class="form-control"
      formControlName="qtdPessoas"
      [ngClass]="{ 'is-invalid': f.qtdPessoas?.invalid && f.qtdPessoas?.touched }"
    />

    <div
      *ngIf="f.qtdPessoas?.hasError('required') && f.qtdPessoas?.touched"
      class="invalid-feedback">
      A quantidade de pessoas é obrigatória
    </div>

    <div
      *ngIf="f.qtdPessoas?.hasError('max') && f.qtdPessoas?.touched"
      class="invalid-feedback">
      A quantidade de pessoas deve ser menor que 120000
    </div>
  </div>

      <div class="col-md-2">
        <label class="form-label">Imagem</label>
        <input
          type="text"
          class="form-control"
          formControlName="imagemURL"
          placeholder="URL da imagem"
          [ngClass]="{ 'is-invalid': f.imagemURL?.invalid && f.imagemURL?.touched }"
        />
        <div *ngIf="f.imagemURL?.hasError('required') && f.imagemURL?.touched" class="invalid-feedback">
          A imagem é obrigatória
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between border-top pt-3" (click)="resetForm()">
      <button type="button" class="btn btn-secondary">
        Cancelar Alteração
      </button>

      <button type="submit" class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
        <!-- <span class="spinner-border spinner-border-sm me-1"></span> -->
        Salvar Evento
      </button>
    </div>

  </form>
</div>
